.headerStyle {
    background-color: rgb(1, 75, 160);
    color: white;
}

.openWeatherImage {
    width: 50px;
    height: auto;
}

.navbarLocal {
    background-color: rgb(51, 138, 238);
}

.searchDeposit {
    text-align: left;
}

.container {
    background-color: aliceblue;
    padding-top: 25px;
}

.searchCity, .searchState {
    border-width: thin;
    border-color: lightblue;
    border-radius: 25px;
    padding-left: 25px;
    width: 100%;
}


.submitSearch {
    background-color: rgb(1, 75, 160);
    color: white;
    font-weight: 600;
    border-radius: 25px;
    /* color:  rgb(1, 38, 82); */
}

.mainSeparation {
    color: rgb(1, 38, 82);
    width: 5px;
}

/* Font Section */
.fontSmall {
    font-size: .70em;
}


.textShadow {
    text-shadow: 2px 0px 2px rgba(225, 225, 225, 1);
}